#shadow1{
margin-left: 370.5px;
margin-right: 370.5px;
margin-bottom: 30px;
border-style:inset;
border-width: thick;
width: fit-content;
border-color: red;
background-color: red;
}

#shadow2{
display: inline-block;
padding-left: 20.83px;
padding-right: 20.83px;
padding-top: 20.83px;
padding-bottom: 20.83px;
}

#shadow3{
display: inline-block;
padding-left: 20.83px;
padding-right: 20.83px;
padding-top: 20.83px;
padding-bottom: 20.83px;
}

#shadow4{
display: inline-block;
padding-left: 20.83px;
padding-right: 20.83px;
padding-top: 20.83px;
padding-bottom: 20.83px;
}

#shadow5{
display: inline-block;
padding-left: 20.83px;
padding-right: 20.83px;
padding-top: 20.83px;
padding-bottom: 20.83px;
}

#shadow6{
display: inline-block;
padding-left: 20.83px;
padding-right: 20.83px;
padding-top: 20.83px;
padding-bottom: 20.83px;
}

#shadow7{
display: inline-block;
padding-left: 20.83px;
padding-right: 20.83px;
padding-top: 20.83px;
padding-bottom: 20.83px;
}

#shadow8{
display: inline-block;
padding-left: 20.83px;
padding-right: 20.83px; 
padding-top: 20.83px;
padding-bottom: 20.83px;   
}